* {
  text-decoration: none;
  list-style: none;
  color: #222;
}
a {
  color: #222;
  font: 14px Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
header {
  width: 100%;
}
header .userInfo-img {
  width: 100%;
  height: 50px;
  position: absolute;
  background-position: top center;
  background-image: url("../images/logo.jpg");
  -webkit-filter: blur(4px);
}
header .userInfo-gai {
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
header .userInfo {
  width: 1160px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
header .userInfo .weibo {
  height: 50px;
  line-height: 50px;
  float: left;
}
header .userInfo .weibo .logoname {
  display: none;
}
header .userInfo .userZhongxin {
  float: right;
  line-height: 50px;
}
header .userInfo .userZhongxin .kongge {
  width: 50px;
  height: 50px;
}
header .userInfo .userZhongxin li {
  float: left;
}
header .userInfo .userZhongxin li .shurukuang {
  height: 25px;
  margin-top: 12.5px;
}
header .userInfo .userZhongxin li .sousuotubiao {
  margin-left: 10px;
}
header .userInfo .userZhongxin .usertu {
  display: none;
}
header .logo {
  width: 100%;
  height: 220px;
  background-position: bottom center;
  background-image: url("../images/logo.jpg");
}
header .nav {
  width: 1160px;
  margin: auto;
  margin-top: 20px;
}
header .nav .nav_num {
  padding: 0;
}
header .nav .nav_num .num {
  float: left;
  width: 48px;
  height: 48px;
}
header .nav .nav_num .num a {
  width: 48px;
  height: 48px;
  text-align: center;
  display: block;
}
header .nav .nav_num .num .num_tu {
  margin-top: 10px;
}
header .nav .nav_num .num .num_tu span {
  background-color: #222;
  color: #eee;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
}
header .nav .nav_num .xiaoshuo {
  width: 100px;
  height: 48px;
  background-color: #a1c913;
  float: right;
  text-align: center;
  border-radius: 3px;
}
header .nav .nav_num .xiaoshuo img {
  width: 98%;
  height: 38px;
  margin-top: 5px;
}
header .nav .nav_num .num_kongge {
  width: 66px;
}
header .nav .jiantou {
  display: none;
}
header .nav .sj_xszq {
  display: none;
}
