section{
        width: 1160px;
        margin:auto;
        .tuiguang{
            height:300px;
            margin-bottom:30px;
            .carousel-box{
                width:464px;
                height: 300px;
                float: left;
                border-radius: 3px;
                .carousel-module{
                    overflow:hidden;
                    .carousel-ul{
                        width:1392px;
                        padding:0;
                        position: relative;
                        left:0px;
                       li{
                        float: left;
                        display: inline;
                        img{
                            width:464px;
                            height:300px;
                            border-radius: 3px;
                        }
                       }
                    }
                    .carousel-biaoqian{
                        li{
                            a{
                                div{
                                    width:15px;
                                    height:15px;
                                    margin-left:10px;
                                    border:solid #eee 2px;
                                    border-radius: 100% ;
                                    position: relative;
                                    top:-25px;
                                    left: -40px;
                                    float: left;
                                }
                            }

                        }
                    }
                }
            }
            .recommend-module{
                .groom-module{
                    margin-left:15px;
                    margin-bottom: 10px;
                    height: 145px;
                    overflow:hidden;
                    float: left;
                    border-radius: 3px;
                    .card-mark{
                        width: 217px;
                        height: 145px;
                        padding-left:10px;
                        padding-right:5px;
                        position: relative;
                        top: -22px;
                        background-color:  rgba(64,64,64,0.5);
                        .title{
                            color:#eee;
                        }
                        .gtime{
                            transition:color 1s;
                            color:#333;
                        }
                        .play{
                            transition:color 1s;
                            color:#333;
                        }
                    }
                }
                .groom-module:hover{
                    a{
                        text-decoration:  none;
                        .card-mark{
                            padding-top:20px;
                            top:-145px;
                            .gtime{
                                color:#999;
                            }
                            .play{
                                color:#999;
                            }
                        }
                    }
                }
            }
        }
        .tuijian{
            height: 212px;
            .tuijian_title{
                width:119px;
                height:30px;
                margin-bottom:10px;
                background-image:url("../images/tuijian.png");
            }
            .tuijian_shuju{
                .tuijian_kuang{
                    padding:0;
                    .tuijian_neirong{
                        width:200px;
                        height:172px;
                        float: left;
                        margin-right:15px;
                        border-radius: 3px;
                        overflow:hidden;
                        a{
                            text-decoration:none;
                            img{
                                border-radius: 3px;
                            }
                            .nr_xx{
                                width:200px;
                                height:47px;
                                .title{
                                    transition:color 0.5s;
                                    padding-top:3px;
                                }
                            }
                        }
                        a:hover{
                            text-decoration:none;
                            .nr_xx{
                                .title{
                                    color:#3399FF;
                                }
                            }

                        }
                    }
                    .tuijian_guanggao{
                        width:300px;
                        height: 172px;
                        float: left;
                        border-radius: 3px;
                        overflow:hidden;
                    }
                }
            }
        }

}


